<header class="parallax-completo">
    <div class="texto-hero">
        <h2>
            ¡Hola, Bienvenidos!
        </h2>
    </div>
</header>
<section class="center espacio">
    <h2>Al Mundo De La Tecnología de Identificación Por Radio Frecuencia</h2>
    <p> Consiste básicamente en un sistema para comunicarse sin cables entre dos o más objetos, donde uno emite señales de radio y el otro responde en función de la señal recibida.</p>
</section>

<section class="parallax-chico">
</section>

<section class="texto">
    <h2>En Accenture Siempre Está Presente La Innovación...</h2>
</section>

<section class="parallax_accenture">
</section>
<section class="center espacio">
    <h2>Por Esto...</h2>
    <p>Presentamos el desarrollo de prototipo de un sistema de control de Acceso con identificación por radiofrecuencia para las instalaciones de la sede de Medellín, Antioquia. En esta pagína web, será posible visualizar el uso de sistema de control, en
        la pestaña de Registro/Historial. Importante: Estar logeado.
    </p>
</section>
<footer>
    <section class="contacto">
        <div class="contenedor">
            <div class="footer-textos">
                <h2>Pagina desarrollada por Daniel Correa</h2>
                <p>Fui capaz de desarrollar esta página gracias a los conocimientos adquiridos en mi práctica profesional y a lo largo de mi carrera profesional.</p>
                <p>Gracias a la Universidad del Magdalena por albergarme todo este tiempo, y convertirme en la persona que soy ahora, y en el profesional que siempre quise ser.</p>
                <p>Gracias a Accenture LTDA, por brindarme la oportunidad de dar mis primeros pasos en el campo laboral.</p>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-3 col-md-3 col-xl-3 col-lg-3 col-sm-3 d-flex justify-content-md-center">
                    <img src="https://www.universidadesvirtuales.com.co/logos/original/logo-universidad-del-magdalena.png" style="width: 200px; height: 200px;" alt="">
                </div>
                <div class="col-3 col-md-3 col-xl-3 col-lg-3 col-sm-3 d-flex justify-content-md-center">
                    <img src="https://www.sistedes.es/files/Acc_Technology_Lockup_BLK.png" style="width: 300px; height: 60px; display: flex; align-content: center; justify-content: center" alt="">
                </div>
            </div>

        </div>
    </section>
</footer>