<div class="content-wrapper">
    <section class="about_header">
        <div class="about_header_background"></div>
        <div class="about_header__container container">
            <h1 class="section__title h1">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Un nuevo mundo con la seguridad de la identificación por radio frecuencia</font>
                </font>
            </h1>
            <p class="about_header__description">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        Bienvenido al mundo de la tecnología RFID, innovando cada día para alcanzar un progreso progresivo.
                    </font>
                    <font style="vertical-align: inherit;">
                        Accenture LTDA es una compañía global líder en servicios profesionales de estrategia, consultoría, digital, tecnología, servicios y soluciones de operaciones.
                    </font>
                    <font style="vertical-align: inherit;">En la cual he podido desarrollar mis prácticas profesionales, teniendo la grata satisfacción de alcanzar cada una de mis metas.
                    </font>
                </font>
            </p>
            <div class="about_header__hero video__container">
                <video width="100%" height="100%" autoplay="" loop="" class="dropshadow d-flex justify-content-center">
                        <source src="assets/videos/AccentureTechnology_640x360.mp4" type="video/mp4">
                      </video>
            </div>
        </div>
    </section>
    <section class="center espacio color">
        <h2>Mi biografía</h2>
        <p>Mi nombre es Daniel Alfonso Correa Angarita, soy estudiante de Ingeniería Electrónica de la Universidad del Magdalena, nacido el 16 de julio de 1996 en Santa Marta, Colombia. Actualmente estoy realizando mis prácticas profesionales en la Multinacional
            Accenture LTDA, adquiriendo variedad de conocimientos que enriquecen mi perfil profesional. Está página web es desarrollada para optar al titulo de Ingeniero Electrónico, y consta del diseño de un prototipo de un sistema de control de acceso
            para las instalaciones de la compañía. Plataforma desarrollada en Angular, maquetada con HTML y CSS.
        </p>
    </section>

    <section class="parallax-biography">


    </section>
</div>